.container {
height: 100vh;
}

h1 {
    color: #ffff;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 2px solid #70D1C7;
    padding: 40px;
    width: 300px;
    border-radius: 5px;
}

.divContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.label {
    font-size: larger;
    color: #ffff;
}

.input {
    border: 0;
    outline: 0;
    background-color: transparent;
    border-bottom: 1px solid #70D1C7;
    padding: 10px;
    color: #70D1C7;
    font-size: medium;
    transition: all 0.3s ease-in-out;
}


.button { 
    width: 60%;
    align-self: center;
    padding: 10px;
    border: 0;
    background-color: #70D1C7;
    border-radius: 5px;
    color: #ffff;
    font-size: larger;
}

.responseContainer {
    background-color: #70d1c77a;
    margin-top: 15px;
    padding: 30px;
}

.response {
    font-size: medium;
}

a {
    color: #70D1C7;
    text-decoration: none;
    display: flex;
    margin-top: 20px;
}

button:disabled {
    background-color: #70d1c71f;
    color:#ffffff6c;
}